@import url("https://fonts.googleapis.com/css?family=Quicksand");

body {
    margin: 0;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    background-color: #0099ff;
    overflow-x: hidden;
}

.container {
    max-width: 95%;
    margin: 0 auto !important;
    padding: 0 !important;
}


#bubble1 {
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 0;
    right: 25%;
}

#bubble2 {
    position: absolute;
    width: 100%;
    height: 7%;
    bottom: 0;
    right: 40%;
}

#bubble3 {
    position: absolute;
    width: 100%;
    height: 7%;
    bottom: 0;
    left: 10%;
}

#bubble4 {
    position: absolute;
    width: 100%;
    height: 7%;
    bottom: 0;
    left: 30%;
}

#bubble5 {
    position: absolute;
    width: 100%;
    height: 1%;
    bottom: 0;
    left: 30%;
}

.visualizerBtn {
    text-align: center;
    padding: 1em;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

text {
    fill: black;
}

rect {
    fill: white;
}


#heading {
    text-align: center;
    color: blanchedalmond;
    font-weight: bold;
}



.bubble,
.bubble::before,
.bubble::after,
.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bubble,
.bubble::before,
.bubble::after {
    width: 100%;
    height: 100%;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 15em;
}

.item {
    width: 8.56vw;
    height: 8.56vw;
    animation: var(--time-sort) ease-in-out forwards 1s;
    position: absolute;
    --time-sort: 6s;
}

.item:nth-of-type(1) {
    --t-y: -17;
    --degrees: 90;
    --time-bubble: 6s;
    left: 3.5vw;
}

@keyframes radius-1 {
    20% {
        border-radius: 50% 50% 40% 50%;
    }

    40% {
        border-radius: 50% 50% 50% 40%;
    }

    60% {
        border-radius: 40% 50% 50% 50%;
    }

    80% {
        border-radius: 50% 40% 50% 50%;
    }
}

@keyframes scale-1 {
    20% {
        transform: scale3d(1, 0.896, 1);
    }

    40% {
        transform: scale3d(0.857, 1, 1);
    }

    60% {
        transform: scale3d(1, 0.924, 1);
    }

    80% {
        transform: scale3d(0.871, 1, 1);
    }
}

.item:nth-of-type(1) .bubble::before {
    animation-name: radius-1, scale-1;
}

.bubble::after {
    content: "";
}

.item:nth-of-type(2) {
    animation-name: sorting-2;
    --t-y: 28;
    --degrees: 26;
    --time-bubble: 10s;
    left: 15.56vw;
}


@keyframes radius-2 {
    20% {
        border-radius: 40% 50% 50% 50%;
    }

    40% {
        border-radius: 50% 50% 50% 40%;
    }

    60% {
        border-radius: 50% 50% 40% 50%;
    }

    80% {
        border-radius: 50% 40% 50% 50%;
    }
}

@keyframes scale-2 {
    20% {
        transform: scale3d(1, 0.888, 1);
    }

    40% {
        transform: scale3d(0.916, 1, 1);
    }

    60% {
        transform: scale3d(1, 0.877, 1);
    }

    80% {
        transform: scale3d(0.917, 1, 1);
    }
}

.item:nth-of-type(2) .bubble::before {
    animation-name: radius-2, scale-2;
}

.item:nth-of-type(2) .bubble::after {
    content: "";
}

.item:nth-of-type(3) {
    animation-name: sorting-3;
    --t-y: 25;
    --degrees: 27;
    --time-bubble: 7s;
    left: 27.62vw;
}

@keyframes radius-3 {
    20% {
        border-radius: 50% 50% 40% 50%;
    }

    40% {
        border-radius: 50% 40% 50% 50%;
    }

    60% {
        border-radius: 40% 50% 50% 50%;
    }

    80% {
        border-radius: 50% 50% 50% 40%;
    }
}

@keyframes scale-3 {
    20% {
        transform: scale3d(0.891, 1, 1);
    }

    40% {
        transform: scale3d(1, 0.893, 1);
    }

    60% {
        transform: scale3d(0.939, 1, 1);
    }

    80% {
        transform: scale3d(1, 0.937, 1);
    }
}

.item:nth-of-type(3) .bubble::before {
    animation-name: radius-3, scale-3;
}

.item:nth-of-type(3) .bubble::after {
    content: "";
}

.item:nth-of-type(4) {
    animation-name: sorting-4;
    --t-y: 24;
    --degrees: 199;
    --time-bubble: 10s;
    left: 39.68vw;
}

@keyframes radius-4 {
    20% {
        border-radius: 50% 40% 50% 50%;
    }

    40% {
        border-radius: 50% 50% 40% 50%;
    }

    60% {
        border-radius: 50% 50% 50% 40%;
    }

    80% {
        border-radius: 40% 50% 50% 50%;
    }
}

@keyframes scale-4 {
    20% {
        transform: scale3d(0.941, 1, 1);
    }

    40% {
        transform: scale3d(1, 0.949, 1);
    }

    60% {
        transform: scale3d(0.87, 1, 1);
    }

    80% {
        transform: scale3d(1, 0.901, 1);
    }
}

.item:nth-of-type(4) .bubble::before {
    animation-name: radius-4, scale-4;
}

.item:nth-of-type(4) .bubble::after {
    content: "";
}

.item:nth-of-type(5) {
    animation-name: sorting-5;
    --t-y: -17;
    --degrees: 340;
    --time-bubble: 8s;
    left: 51.74vw;
}

@keyframes radius-5 {
    20% {
        border-radius: 50% 50% 40% 50%;
    }

    40% {
        border-radius: 50% 40% 50% 50%;
    }

    60% {
        border-radius: 50% 50% 50% 40%;
    }

    80% {
        border-radius: 40% 50% 50% 50%;
    }
}

@keyframes scale-5 {
    20% {
        transform: scale3d(1, 0.904, 1);
    }

    40% {
        transform: scale3d(0.854, 1, 1);
    }

    60% {
        transform: scale3d(1, 0.867, 1);
    }

    80% {
        transform: scale3d(0.919, 1, 1);
    }
}

.item:nth-of-type(5) .bubble::before {
    animation-name: radius-5, scale-5;
}

.item:nth-of-type(5) .bubble::after {
    content: "";
}

.item:nth-of-type(6) {
    animation-name: sorting-6;
    --t-y: -14;
    --degrees: 351;
    --time-bubble: 10s;
    left: 63.8vw;
}

@keyframes radius-6 {
    20% {
        border-radius: 50% 50% 40% 50%;
    }

    40% {
        border-radius: 50% 40% 50% 50%;
    }

    60% {
        border-radius: 50% 50% 50% 40%;
    }

    80% {
        border-radius: 40% 50% 50% 50%;
    }
}

@keyframes scale-6 {
    20% {
        transform: scale3d(1, 0.911, 1);
    }

    40% {
        transform: scale3d(0.88, 1, 1);
    }

    60% {
        transform: scale3d(1, 0.929, 1);
    }

    80% {
        transform: scale3d(0.852, 1, 1);
    }
}

.item:nth-of-type(6) .bubble::before {
    animation-name: radius-6, scale-6;
}

.item:nth-of-type(6) .bubble::after {
    content: "";
}

.item:nth-of-type(7) {
    --t-y: 23;
    --degrees: 70;
    --time-bubble: 6s;
    left: 75.86vw;
}

@keyframes radius-7 {
    20% {
        border-radius: 50% 50% 40% 50%;
    }

    40% {
        border-radius: 50% 50% 50% 40%;
    }

    60% {
        border-radius: 40% 50% 50% 50%;
    }

    80% {
        border-radius: 50% 40% 50% 50%;
    }
}

@keyframes scale-7 {
    20% {
        transform: scale3d(1, 0.944, 1);
    }

    40% {
        transform: scale3d(0.934, 1, 1);
    }

    60% {
        transform: scale3d(1, 0.877, 1);
    }

    80% {
        transform: scale3d(0.885, 1, 1);
    }
}

.item:nth-of-type(7) .bubble::before {
    animation-name: radius-7, scale-7;
}

.item:nth-of-type(7) .bubble::after {
    content: "";
}

.item:nth-of-type(8) {
    --t-y: -28;
    --degrees: 312;
    --time-bubble: 7s;
    left: 87.92vw;
}

@keyframes radius-8 {
    20% {
        border-radius: 50% 50% 40% 50%;
    }

    40% {
        border-radius: 50% 50% 50% 40%;
    }

    60% {
        border-radius: 40% 50% 50% 50%;
    }

    80% {
        border-radius: 50% 40% 50% 50%;
    }
}

@keyframes scale-8 {
    20% {
        transform: scale3d(0.933, 1, 1);
    }

    40% {
        transform: scale3d(1, 0.908, 1);
    }

    60% {
        transform: scale3d(0.938, 1, 1);
    }

    80% {
        transform: scale3d(1, 0.89, 1);
    }
}

.item:nth-of-type(8) .bubble::before {
    animation-name: radius-8, scale-8;
}

.item:nth-of-type(8) .bubble::after {
    content: "";
}

.bubble {
    animation: translate-3D linear infinite;
    color: #FFF;
    font-size: 2rem;
}

.bubble::before {
    content: "";
    animation: ease-in-out infinite, linear infinite;
    color: #fff;
    font-size: 2rem;
    box-shadow: 0 0 0.428vw 0 rgba(154, 255, 220, 0.25) inset, 0 0 0.428vw 0 rgba(154, 255, 220, 0.25);

}

h2 {
    font-weight: 800;
}

.bubble::after {
    color: #61bdf6;
    font-size: 3.424vw;
}

.bubble,
.bubble::before,
.bubble::after {
    animation-duration: var(--time-bubble);
    border-radius: 50%;
    position: absolute;
}

@keyframes translate-3D {
    25% {
        transform: translate3d(0, calc(var(--t-y) * 1%), 0);
    }

    75% {
        transform: translate3d(0, calc(var(--t-y) * -1%), 0);
    }
}

/* Wave animation */

#water {
    background-color: #0099ff;
    width: 200%;
    animation: wave linear 20s infinite;
}

/* #water1 {
    background-color: #0099ff;
    width: 200%;
    animation: wave linear 20s infinite;
} */

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-bottom: 10em;
}

@keyframes wave {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-50%);
    }
}

.wave svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 267px;
}

.wave .shape-fill {
    fill: #003366;
}

.wave .shape-fill1 {
    fill: #0099ff;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .wave svg {
        width: calc(144% + 1.3px);
        height: 140px;
    }
}

/* Scroll Arrow */
.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    overflow: visible;
}

.scroll-down .arrow {
    position: relative;
    top: -4px;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
    background-size: contain;
}

.arrow-right {
    transform: rotate(-90deg);
    position: relative;
    top: -4px;
    margin: 1rem auto;
    width: 20px;
    height: 20px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
    background-size: contain;
}

/* Scroll Arrow */

@media (max-width:780px) {
    .title {
        display: none;
    }


}

@media (min-width:768px) {
    section {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
